@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.015em;
}
body.lock {
  overflow: hidden;
}

/* Контейнер */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  min-width: 110px;
  border: none;
  background-color: violet;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(191, 234, 49, 0.6);
    text-align: center;
    transform: translateX(-100%);
    transition: transform 1s;
  }
}
.nav.active {
  transform: translateX(0);
}
.nav-list {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.nav-list li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .contacts-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.contacts {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

/* Динамічна сітка грід */
/* .im {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
} */
/* Динамічна сітка флекс */
.im {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.im li {
  flex: 1 1 300px;
  /* flex: 1 1 auto; */
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* background-image: url(./images/Img.jpg); */
  background: linear-gradient(rgba(47, 48, 58, 0.4)), url(../../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.arrow:nth-of-type(1) {
  width: 100px;
  height: 100px;
  background-color: red;
  background-image: url(../../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.arrow:nth-of-type(2) {
  width: 100px;
  height: 100px;
  background-color: green;
  background-image: url(../../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.arrow:nth-of-type(3) {
  width: 100px;
  height: 100px;
  background-color: orange;
  background-image: url(../../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

/* .im li {
  max-width: 380px;
} */
/* 
@media (max-width: 768px) {
  .im {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .im {
    grid-template-columns: 1fr;
  }
} */
.button:hover,
button:focus {
  background-color: #a66abe;
}

.link-icon {
  display: inline-block;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.button::before {
  content: "";
  width: 20px;
  height: 20px;
  /* background-color: red; */
  margin-right: 10px;
  background-image: url(../../images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.current {
  border-bottom: 2px solid #a66abe;
  width: 100%;
  border-radius: 2px;
}

.title:hover,
.title:focus {
  color: rgb(223, 25, 120);
}

.im > li:nth-child(2n) {
  background-color: #a66abe;
}

.im li::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../../images/arrow.png);
}

.center {
  display: block;
}

.waper {
  text-align: center;
}

.btn {
  width: 30px;
  height: 30px;
}

/* thead {
  border: 1px solid black;
  padding: 10px;
} */
table {
  display: inline-block;
  text-align: left;
  /* color: aqua; */
  border: 16px solid rgb(0, 0, 0);
  padding: 10;
  border-radius: 20px;
  border-spacing: 0;
}

th {
  padding: 10px;
  border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

td:hover {
  background-color: rgb(27, 122, 166);
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  position: relative;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: wheat;
}

.menu-item:hover {
  background-color: blueviolet;
}

.menu-item:hover .submenu {
  /* display: block; */
  opacity: 1;
}

.submenu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  /* display: none; */
  border: 1px solid black;
  opacity: 0;
  transition: opacity 250ms linear;
}

.submenu li {
  padding: 10px 20px;
}

/* .submenu li:hover {
  background-color: brown;
} */
.submenu li:hover a {
  color: red;
}

.menu__btn {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.menu__btn .close {
  display: none;
}

.menu__btn.is-open .close {
  display: block;
}

.menu__btn.is-open .menu {
  display: none;
}

.mobile__m {
  display: none;
  background-color: aqua;
}

.mobile__m.is-open {
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile__m {
    display: none;
  }
}
/* .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */
.icon {
  width: 20px;
  height: 20px;
  fill: red;
  /* fill: #AFB1B8; */
}

.icon:hover {
  fill: red;
}

.link-social {
  display: inline-flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #931414;
}

.link-social:hover {
  background-color: #4cbe3b;
}

.img-pos {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5252dc;
  /* overflow: hidden; */
  transform: translateY(-100%);
  transition: transform 250ms linear;
}

.img-pos:hover .overlay2 {
  /* opacity: 1; */
  transform: translateY(0%);
}

/* .img-pos::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6b4646;
  opacity: 0;

  transform: translateX(-100%);
  transition: transform 250ms linear;
} */
/* .img-pos:hover::before {
  opacity: 1;
  transform: translateX(0%);
} */
.abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* bottom: 0;
  right: 0; */
  /* inset: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.16);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.menu-item2 {
  position: relative;
}

.menu-item2:hover .submenu2 {
  display: block;
}

.menu-item2:hover .menu-link2 {
  background-color: #6b4646;
}

.submenu2 {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ccc;
  display: none;
}

.submenu2 li a:hover {
  color: #5252dc;
}

textarea {
  resize: none;
}

/* щоб скрити тег */
/* visually-hidden-css */
/* dfd {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-policy {
  display: inline-block;
  width: 15px;
  height: 15px;
  /* background-color: #931414; */
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox:checked + .icon-policy {
  border-color: orange;
  background-color: orange;
  background-image: url(../../images/Vector.svg);
  background-size: contain;
  background-origin: border-box;
}

.menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0e0e0e;
    transition: all 0.2s;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.logo {
  padding: 20px;
}

.bg-images {
  background-image: -webkit-image-set("./images/360.jpeg 1x, ./images/680.jpeg 2x, ./images/960.jpeg 3x");
  background-image: image-set("./images/360.jpeg 1x, ./images/680.jpeg 2x, ./images/960.jpeg 3x");
}

.cool {
  color: orange;
}

.backdrop-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.16);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop-1.is-hidden-1 {
  opacity: 0;
  pointer-events: none;
}

.backdrop-1.is-hidden-1 .modal-1 {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

body.show-modal-1 {
  overflow: hidden;
}/*# sourceMappingURL=profile.css.map */